.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.default {
  max-width: var(--container-max);
}

.narrow {
  max-width: var(--container-narrow);
}

.wide {
  max-width: 86rem;
}
